.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.typing {
  font-family: "Notosans-m";
  font-size: 16px;
  color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenuimg {
  min-height: 15px;
  min-width: 15px;
  height: 15px;
  width: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.submenutext:hover {
  font-weight: bold;
}

.submenutext {
  font-size: 13px;
  color: #5a5a5a;
  margin-left: 35px;
  font-family: 'Notosans-kr-m';
}

.submenuli {
  width: 400px;
  height: 40px;
  text-align: left;
  line-height: 40px;
  position: relative;
}

@-webkit-keyframes movingPara {
  from {
    height: 40px;
  }
  to {
    height: 290px;
  }
}

@keyframes movingPara {
  from {
    height: 40px;
  }
  to {
    height: 290px;
  }
}

@media screen and (max-width: 900px) {
  .mainimg {
    display: none;
  }
}
